@media (prefers-color-scheme: light) {
  body {
    background-color: $light-mode-background;
    color: $light-mode-text;
  }

  .header__container {
    h1 {
      color: $light-mode-header;
    }
    .theme__container {
      .dark {
        display: flex;
      }

      .light {
        display: none;
      }
    }
  }

  .container {
    background: $light-mode-container;
    box-shadow: 0px 6px 9px 0px hsl(219, 48%, 89%);
  }

  .search__bar {
    ::placeholder,
    ::-moz-placeholder {
      color: $light-mode-text;
      opacity: 1;
    }

    input {
      background-color: $light-mode-container;
      color: $light-mode-header;
    }
  }

  .main__container {
    .gitHub__user--profile {
      .user__info {
        .name {
          color: $light-mode-name;
        }

        .joined {
          color: $light-mode-grey-text;
        }
      }
    }
    .stats__container {
      background-color: $light-mode-background;

      .stats {
        .stats__total {
          color: $light-mode-name;
        }
      }
    }

    .info__container {
      color: $light-mode-text;

      .info {
        a {
          color: $light-mode-text;
        }
      }
    }
  }
}
