@media (min-width: 768px) and (max-width: 1000px) {
  body {
    margin-top: 8.75rem;
    width: 75%;
  }
  .search__bar {
    button {
      padding: 1em 1.75em;
    }
    .error {
      font-size: 0.9375rem;
      right: 7rem;
    }
  }
  .main__container {
    padding: 2rem 2.5625rem;

    .gitHub__user--profile {
      gap: 2.5rem;

      .icon img {
        width: 117px;
      }

      .user__info {
        padding-top: 1rem;

        .name {
          font-size: 1.625rem;
        }

        .joined {
          margin-top: 0.25rem;
          font-size: 0.9375rem;
        }
      }
    }

    .stats__container {
      display: flex;
      justify-content: flex-start;
      text-align: start;
      padding: 1.125rem 2.4rem;
      gap: 5.5rem;

      .stats {
        .stats__header {
          font-size: 0.8125rem;
        }

        .stats__total {
          font-size: 1.375rem;
        }
      }
    }

    .info__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;

      .info__twitter {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }
}
