$button: hsl(212, 100%, 50%);
$button-hover: hsl(212, 100%, 69%);
$error: hsl(0, 92%, 62%);

// light mode
$light-mode-background: hsl(227, 100%, 98%);
$light-mode-text: hsl(217, 35%, 45%);
$light-mode-header: hsl(220, 18%, 16%);
$light-mode-container: rgb(254, 254, 254);
$light-mode-name: hsl(217, 21%, 21%);
$light-mode-grey-text: hsl(217, 20%, 51%);

// dark mode
$dark-mode-background: hsl(220, 40%, 13%);
$white: hsl(0, 0%, 100%);
$dark-mode-container: hsl(222, 41%, 20%);
